name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg?palette=github-dark

      - name: Push Snake
        run: |
          git config --global user.name "Majnu04"
          git config --global user.email "gourishanker005@gmail.com"
          mkdir -p dist
          git add dist/snake.svg
          git diff --staged --quiet || git commit -m "Updated snake animation"
          git push
